<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean id="e1" class="Setter_SecondaryDI.Engine">
<property name="carName"><value>2015Audi</value></property>

</bean>

<bean id="C1" class="Setter_SecondaryDI.Car">
<property name="engine"><ref bean="e1"/></property>

</bean>


</beans>